# VAPID Keys for Web Push Notifications
VAPID_PUBLIC_KEY=BAYcVhqewAIIymHfS_PpSQq9F2UdGEHiwjdCJRJYoqtnzfONQQj5-_FLDK-gP0yQ_k-JwcHngO1j3rBrSYpAjuA
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@chiachia.com

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
